/* Website template by # */
/*------------------------- Layout styles ------------------------*/ 

/*------------------------- Header ------------------------*/

/*------------------------- Body ------------------------*/
.body div ul.blog li{
	width:258px;
}
.body div ul#blog li a{
	margin: -47px 0 0 -50px;
}

/*------------------------- Footer ------------------------*/