<!DOCTYPE html>
<html lang="zh" ng-app="app">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NJBlog, node blog system">
    <meta name="author" content="NJBlog">
    <link rel="shortcut icon" href="">
<!--    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>-->

    <!--<link rel='stylesheet' href='lib/bootstrap/css/bootstrap-responsive.css'/>-->


    <link rel="stylesheet" href="css/base.css" type='text/css' media="all" />
    <link href='css/index.css' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="LayoutController">
<div class="wrap_top_nav">
    <nav id="top_nav">
        <ul class="inline-style clearfix">
            <li class="active"><a href="#/">{{txt.home}}</a></li>
            <li class="active"><a href="#/{{login.url}}">{{login.name}}</a></li>
            <li class="active"><a href="#/{{signup.url}}">{{signup.name}}</a></li>
        </ul>

    </nav>
</div>
<div class="page" ng-view=""> </div>
</body>
    <script type="text/javascript" charset="UTF-8" src="lib/prefixfree.min.js"></script>
    <script data-main="js/main" src="lib/require/require-2.1.0.js"></script>
<!--</form>-->
</body>
</html>