username:<input type="text" name="username" ng-model="user.name" ng-required="true">
<span class="error" ng-show="myForm.username.$error.required">Required!</span><br/>

password:<input type="password" ng-model="user.password" ng-change="user.repeatpassword=''" name="password" required>
<span class="error" ng-show="myForm.password.$error.required">Required!</span><br/>

repeat-password:<input type="password" ng-model="user.repeatpassword" name="repeatpassword"
                       required compare={{user.password}}>
<span class="error" ng-show="myForm.repeatpassword.$error.compare">password should be equals repeatpassword!</span>
<span class="error" ng-show="myForm.repeatpassword.$error.required">Required!</span>
<br/>

<div ng-show="err" ng-bind="err"></div>

<button ng-disabled="myForm.$invalid" ng-click="createClick()">Sign Up</button>